__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
node_modules/
npm-debug.log
*.log 
.env
.env.example 
*.db
*.sqlite
*.sqlite3
*.bak
*.tmp
*.cache
productivity_tracker/RAWW/RAW/__pycache__/
productivity_tracker/RAWW/RAW/*.log 
.wwebjs_auth
.wwebjs_cache